
    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="推荐" ui-sref="tabs.home"
                 icon-on="ion-ios-rose" icon-off="ion-ios-rose-outline">
            <ion-nav-view name="tabs.home"></ion-nav-view>
        </ion-tab>

        <ion-tab title="头条" ui-sref="tabs.headlines"
                 icon-on="ion-ios-nutrition" icon-off="ion-ios-nutrition-outline">
            <ion-nav-view name="tabs.headlines"></ion-nav-view>
        </ion-tab>

        <ion-tab title="美食家"
                 ui-sref="tabs.epicure" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
            <ion-nav-view name="tabs.epicure"></ion-nav-view>
        </ion-tab>

        <ion-tab title="美食馆"
                 ui-sref="tabs.restaurants" icon-on="icon ion-ios-location" icon-off="icon ion-ios-location-outline">
            <ion-nav-view name="tabs.restaurants"></ion-nav-view>
        </ion-tab>

        <ion-tab title="我的"
                 ui-sref="tabs.my" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-nav-view name="tabs.my"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

