<ion-view view-title="我的 "  ui-sref="tabs.my">
    <ion-content style="background: #f0f1f3;">
        <i style="width:100%; text-align:center" >
            <i class="item " href="#" style="background-image:url(./images/my1.jpg); background-size: cover; height: 125px; font-size: 55px; color: #ef473a">
                <i class="icon ion-ios-person"></i>
                <p style="height: 30px;line-height: 30px;"><i>登录</i>/<i>注册</i></p>
            </i>
        </i>
        <div class="list list-ion" >
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-camera"></i>发布菜谱
            </a>
            <a class="item item-icon-left " href="#">
                <i class="icon ion-android-contact"></i>我的动态
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-chatbubble-working"></i>消息
            </a>
        </div>
        <div class="list list-ion" >
            <a class="item item-icon-left" href="#">
                <i class="icon ion-trophy"></i>做任务赚金币
            </a>
            <a class="item item-icon-left " href="#">
                <i class="icon ion-ribbon-a"></i>金币兑换
            </a>
        </div>
        <div class="list list-ion" >
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-star"></i>我的收藏
            </a>
            <a class="item item-icon-left " href="#">
                <i class="icon ion-ios-paw"></i>美食DNA
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>食话
            </a>
            <a class="item item-icon-left " href="#">
                <i class="icon ion-ios-flower"></i>美食圈
            </a>
        </div>
    </ion-content>

</ion-view>