<ion-view view-title="美食美刻" id="tour-view" hide-back-button="true" >
  <!--  <ion-content>--><!--引导页-->
        <ion-slide-box>
            <ion-slide>
                <img src="./images/10.png"><br>
            </ion-slide>

            <ion-slide>
                <img src="./images/06.jpg"> <br>

            </ion-slide>

            <ion-slide>
                <img src="./images/chihuo.png"> <br>
                <button class="button button-balanced button-outline" ui-sref="tabs.home">进入主页</button>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>