<ion-view view-title="认证美食家 "  ui-sref="tabs.epicure">
    <ion-content>
        <p style="height:40px; line-height: 40px; padding-left: 8px;font-size: 20px;"><span style="color: #e42112">|</span>认证规则</p>
        <p>1.粉丝人数需达到50人以上，至少发过10道美食贴，总共获得500个赞。</p>
        <p>2.粉丝人数需达到50人以上，至少发过10道美食贴，总共获得500个赞。</p>
        <p>3.粉丝人数需达到50人以上，至少发过10道美食贴，总共获得500个赞。</p>
        <p>4.粉丝人数需达到50人以上，至少发过10道美食贴，总共获得500个赞。</p><br><br><br><br><br>
       <p style="text-align: center"><button style="width: 100px; height:40px; border: 1px solid #ef473a;background: #fff; border-radius: 10px;">我要认证</button></p>
    </ion-content>

</ion-view>